.entete, .info{
    text-align: center;
}
.entete h3{
    font-size: 20px;
    text-transform: uppercase;
}
.info{
    margin-left: 249px;
}
.info h3{
    font-size: 20px;
    text-transform: uppercase;
    border: black 1px solid;
    border-radius: 6px;
}
.imgPhoto{
    margin-left: 64%;
}
.imgPhoto img{
    width: 167px;
    height: auto;
}
.imgPhoto p{
    color: black;
    font-size: 16px;
}
.infoComplet p{
    color: black;
    font-size: 16px;
}
.spam{
    float: right;
}